
			* { margin: 0; padding: 0; }

			body
			{
				font-family: verdana;  
				background-color: #F0F8FF;
			}

			#header
			{
				background-color: #F0F8FF;
				height: 155px; 
				width: 100%; 
			}

			.container
			{
				width: 960px;
				height: auto;
				margin: 0 auto;
			}

			#logoArea
			{
				width: 300px;
				height: 150px;
				background-image: url(logo.png);
				float: left;
			}

			#navArea
			{
				width: 600px;
				height: 90px;
				float: right;

			}

			#nav
			{
				list-style: none;
				margin-top: 30px;
			}

			#nav a 
			{
				color: black; 
				text-decoration: none;
			}

			#nav li
			{
				float: left;
				margin-left: 30px;
				padding: 8px; 
				border: 3px solid black;
				border-radius: 5px;

				
			}

			#nav li: hover
			{
				background-color: gray;
			}

			.page
			{
				background-color: gray
				padding: 20px;
				padding-bottom: 0;
			}

			#footer
			{
				background-color: black;
				height: 20px;
				width: 100%;
				color: white;
				padding-top: 20px;
			}

			p
			{
				margin-bottom:15px;
			}

			.row {
	  margin-bottom: 10px;
	}



@media screen and (max-width: 768px) {
	.content h1 {
		text-shadow: 0px 0px 50px #000;
		font-size: 250%
	}
	img {
		line-height: 100%;
	}
	}
	p {
		font-size: 100%;
		line-height: 100%;
	}
}

